.education__school {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.education__school:hover {
    color: #3D226B;
}

@media (max-width: 769px) {
    .education__school {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .education__school {
        font-size: 17px;
    }
}

@media (max-width: 500px) {
    .education__school {
        font-size: 15px;
    }
}