.aboutme__photo {
    padding: 0;
    margin: 0;
    height: 400px;
    width: 400px;
}

@media (max-width: 900px) {
    .aboutme__photo {
        height: 340px;
        width: 350px;
    }
}

@media (max-width: 769px) {
    .aboutme__photo {
        height: 310px;
        width: 310px;
    }
}

@media (max-width: 700px) {
    .aboutme__photo {
        height: 280px;
        width: 280px;
    }
}

@media (max-width: 600px) {
    .aboutme__photo {
        width: 100%;
        object-fit: contain;
    }
}