.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E6DFF2;
    min-width: 100%;
    min-height: 500px;
    margin: 0;
    padding: 0;
    background-image: url('../../images/vector-lines.svg');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right;
    position: relative;
}

@media (max-width: 1120px) {
    .header {
        background-size: contain;
    }
}

@media (max-width: 1000px) {
    .header {
        background-size: cover;
    }
}

@media (max-width: 769px) {
    .header {
        min-height: 400px;
    }
}

@media (max-width: 500px) {
    .header {
        min-height: 350px;
    }
}

@media (max-width: 452px) {
    .header {
        position: static;
        display: flex;
        gap: 40px;
        background-position: top 50% right 300%;
    }
}

@media (max-width: 400px) {
    .header {
        background-position: top 50% right 230%;
    }
}

@media (max-width: 361px) {
    .header {
        gap: 30px;
        background-position: top 50% right 150%;
        background-image: none;
        min-height: 300px;
    }
}