.footer__links_item-git {
    background-image: url('../../../../icons/icons8-github.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    height: 44px;
}

@media (max-width: 600px) {
    .footer__links_item-git {
        width: 34px;
        height: 34px;
    }
}