.education__descr {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}

@media (max-width: 769px) {
    .education__descr {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .education__descr {
        font-size: 13.5px;
    }
}

@media (max-width: 426px) {
    .education__descr {
        font-size: 2.9vw;
    }
}