.header__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    color: #3D226B;
    margin: 226px 0 0;
    padding: 0;
    position: absolute;
    left: 0;
    margin-left: 234px;
}

@media (max-width: 1000px) {
    .header__title {
        margin-left: 100px;
    }
}

@media (max-width: 769px) {
    .header__title {
        font-size: 38px;
        margin-left: 100px;
        margin-top: 150px;
    }
}

@media (max-width: 452px) {
    .header__title {
        margin: 0;
        padding: 0;
        position: static;
    }
}